<div class="page-header">
  <h1>
    Listings
    <a href="/listings/new" class="btn btn-lg btn-success">New Listing</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Address</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Actions</th>
      </tr>

      <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.address %></td>
        <td><%= listing.lat %></td>
        <td><%= listing.lng %></td>
        <td>
          <a href="/listings/<%= listing.id %>" class="btn btn-primary">Show</a>
          <a href="/listings/<%= listing.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_listing/<%= listing.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
